@import "tailwindcss";



@theme {
  --color-primary: #AAC7FF;
  --color-on-primary: #0A305F;
  --color-primary-container: #284777;
  --color-on-primary-container: #D6E3FF;

  --color-secondary: #BEC6DC;
  --color-on-secondary: #283141;
  --color-secondary-container: #3E4759;
  --color-on-secondary-container: #DAE2F9;

  --color-tertiary: #DDBCE0;
  --color-on-tertiary: #3F2844;

  --color-background: #111318;
  --color-on-background: #E2E2E9;

  --color-surface: #111318;
  --color-on-surface: #E2E2E9;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  color: var(--color-on-background);
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}