<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
		<string>de</string>
		<string>es</string>
		<string>fr</string>
		<string>hi</string>
		<string>id</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>pt</string>
		<string>tr</string>
		<string>uk</string>
		<string>zh-CN</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>POSTHOG_API_KEY</key>
	<string>phc_c48wFADznJ68OBUeAcQLdKAf5K0GUNxMjf4xXhoopde</string>
	<key>SENTRY_DSN</key>
	<string>https://a4cfb73df75a9e559b75277dab13abea@o1145835.ingest.us.sentry.io/4510742821273600</string>
</dict>
</plist>
