<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>SENTRY_DSN</key>
    <string>https://a4cfb73df75a9e559b75277dab13abea@o1145835.ingest.us.sentry.io/4510742821273600
    </string>
</dict>
</plist>
